* {
    margin: 0;
  }
  
  .canvas {
    height: 420px;
    width: 1500px;
    background-color: magenta;
    margin: 30px;
    
  }
  
  .circles {
    display: flex;
  }
  
  .circle_format {
    width: 100px;
          height: 100px;
          background: linear-gradient(
          white 50%, 
          black 50%);
        border-radius: 50%; 
  }
  
  .circle_row1 {
        z-index: 1;
      }
  
  .circle_row2 {
        position: relative;
        top:-20px;
      }
  
  .circle_row3 {
        position: relative;
        top:-40px;
        z-index: 2
      }
  
  .circle_row4 {
        position: relative;
        top:-60px;
        z-index: 0;
      }
  
  .circle_row5 {
        position: relative;
        top:-80px;
        z-index: 0;
      }
  
  @media screen and (max-width: 600px) {
    * {
      background-color: yellow;
    }
    .circle_format {
      border-radius: 25%;
      height: 120px;
      width: 90px;
    }
  }